<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\juanponcedeleon\.virtualenvs\walabotapi-srnfyz05\scripts\python.exe|c:\users\juanponcedeleon\.virtualenvs\walabotapi-srnfyz05\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="HTTPS Reroute" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="https://chartrightvoice.com/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
