{% extends "layout.html" %} 
{% block content%}
  <div class="content-section">
    <legend class="border-bottom mb-4">Presence Events for {{ device.patient_name }} ({{ presences.total }})</legend>
    {% for presence in presences.items %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <span class="mr-2">{{ presence.timestamp }}</span>
          <small class="text-muted">{{ presence.device_id }}</small>
        </div>
        <span class="device-link"><a class="btn btn-secondary btn-danger btn-sm"
            href="{{ url_for('devices.delete_presence', presence_db_id=presence.id, device_id=presence.device_id) }}">Delete presence</a></span>
        <h2><a class="article-title" href="#">{{ presence.presence_detected }}</a></h2>
        <p class="article-content">{{ presence.presence_region_map }}</p>
      </div>
    </article>
    {% endfor %}
    {% for page_num in presences.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if presences.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('devices.presence', device_id=device_id, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('devices.presence', device_id=device_id, page=page_num) }}">{{ page_num }}</a>
        {%endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}