{% extends "layout.html" %}
{% block content %}
  <h1>Home of the Walabot&TRADE; device API</h1>
  <p>This interactive website can be used to view alert messages sent by your Walabot&TRADE; device. Alert messages include Fall events, presence detection, and also device status updates. Users can add device access to their accounts by registering a device by its ID number found on the back of the unit and the patient name associated with the device. Create a user login to get started.</p>
{% endblock content %}